*{
  margin: 0px;
  padding: 0x;
  font-family: sans-serif;
  
}
 
/* body{
  background-image: url("UI/background.png"); */

  /* Center and Scale the image nicely */
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
} */
 
.picture{
  display: inline-block;
  vertical-align: top;
}
.text{
  padding-bottom: 10%;
  padding-left: 5% ;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}

.button{
  text-align: center;
  padding-top: 15%;
  padding-left: 50%;
  /* margin-bottom: 40%; */
  display: inline-block;
  
}
.signup{
  padding-left: 5%;
  width: 270%;
}


.signIn{
  width: 270%;
  padding-top: 10%;
}

/* .logo{
  height: 10%;
  width: 10%;
  padding-left: 1%;
 
} */

.picture{
  width: 10%;
  height: 10%;
  padding-left: 2%;
}
.navbar {
  border-bottom: 1px solid #D1D1D1;
  margin-bottom: 2rem;
}

.navbar .navbar-logo {
  width: 2.9rem;
  height: 2.9rem;
  margin-right: 1.5rem;
  border-radius: 25%;

}

.navbar .project-name {
  font-size: 4rem;
}

