*{
  margin: 0px;
  padding: 0x;
  font-family: sans-serif;
  
}
body{
  background-image: url('.\public\UI\background.png');
}
.button{
  text-align: center;
  padding-top: 20%;
  
}
/* .signUp{
  padding-top: 1%;
} */

.signIn{
 padding-top: 1%;
}

/* .logo{
  height: 10%;
  width: 10%;
  padding-left: 1%;
 
} */

.navbar {
  border-bottom: 1px solid #D1D1D1;
  margin-bottom: 2rem;
}

.navbar .navbar-logo {
  width: 2.9rem;
  height: 2.9rem;
  margin-right: 1.5rem;
  border-radius: 25%;

}

.navbar .project-name {
  font-size: 4rem;
}