*{
  margin: 0px;
  padding: 0x;
  font-family: sans-serif;
}

.button{
  text-align: center;
  padding-top: 20%;
  
}
/* .signUp{
  padding-top: 1%;
} */

.signIn{
 padding-top: 1%;
}

.logo{
  height: 10%;
  width: 10%;
  padding-left: 1%;
 
}